<ul class='endpoints' id='{{id}}_endpoint_list'>
	<li class='endpoint'> 
		<ul class='operations'>
			  <li class='OPTION operation' id='{{id}}_HEADER' style="min-height:30px;">
			  		<div class="content">
			  			<div clas="heading">
			  				<h2 class="operation-title">
			  				    <span class='path'>
			                        <a href='#!/{{encodedId}}/HEADER'>{{name}}</a>
			                    </span>
			  				</h2>
			  			</div>
						<div class="markdown action-summary">{{{summary}}}</div>
			  		</div>
			  </li>
		</ul>
	</li>
</ul>